.tab {
  background-color: white;
  height: 2.5rem;
  display: inline-block;
  color: black;
  font-size: 1rem;
  width: 33.3333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.tab:hover {
  background-color: rgb(187, 187, 187);
}

.tab:focus-visible {
  color: red;
}
.tab:active,
.tab.active {
  color: red;
}
